{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="icon" type="image/png" href="static/logo3.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" text="text/css" href="{% static 'service/main.css' %}">
    
    {% if title %}
    <title>CollectiveHub - {{ title }}</title>
    {% else %}
    <title>CollectiveHub</title>
    {% endif %}
</head>
{% load static %}
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">   
          <div class="container">
            <!-- <a class="navbar-brand mr-4" href="{% url 'service-home' %}">CollectiveHub</a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                <img src="{% static 'logo3.png' %}" width="30" height="30" alt="">
                <a id='short' href="{% url 'service-home' %}">
                <img src="{% static 'logo2.png' %}" width="70" height="35" alt="">   
              </div>
              <!-- Navbar Right Side -->
              <div class="navbar-nav">
<!--                 <a class="nav-item nav-link" href="{% url 'service-home' %}">Home</a> -->
                <a class="nav-item nav-link" href="{% url 'service-about' %}">About</a>
                {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                <a class="nav-item nav-link" href="{% url 'message-list' %}">Message</a>
                <a class="nav-item nav-link" href="{% url 'notifications-list' %}">Notification</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              {% endif %}

              </div>
            </div>
            </div>
          </div>
        </nav>
      </header>
    

      <main role="main" class="container">
        <div class="row">
          <div class="col-md-8">
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{message.tags}}">
                  {{message}}
                </div>
              {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
          </div>

          <div class="col-md-4">
            <form class="form-inline" action="{% url 'search-results' %}" method="get">
              <input class="form-control mr-sm-2" type="search" id="q" name="q" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
            </form>
          </br>
          <div class="col-md-4">
            <a class="btn btn-outline-info mt-0 mb-0" href="{% url 'search-advanced' %}" type="submit">Advanced Search</a>
          </div>
          </br>
            <p class='text-muted'>
              
                <a class="list-group-item list-group-item-light" href="{% url 'offer-create' %}">Offer Service</a>
                <a class="list-group-item list-group-item-light" href="{% url 'post-create' %}">Request Service</a>
                <a class="list-group-item list-group-item-light" href="{% url 'event-create' %}">Organize Event</a>
            </p>
           <!-- <div class="content-section">-->
              <h4>Recommended Services</h4>
              <p class='text-muted'><!--You can join any event or get any service here you'd like.-->
                <!--<ul class="list-group">
                  <li class="list-group-item list-group-item-light">Services</li>
                  <li class="list-group-item list-group-item-light">Events</li>
                  <li class="list-group-item list-group-item-light">Offers</li>
                  <li class="list-group-item list-group-item-light">Requests</li>
                </ul>-->
                <div class="card-deck">  
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title"><a class="article-title" href="#">Yoga Class</a></h5> 
                    <p class="card-text"><small class="text-muted">Online, 23 Nov, 2021</small></p>
                  </div>
                </div>
                </div>
              </br>
              <div class="card-deck">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title"><a class="article-title" href="#">Yoga Class</a></h5> 
                    <p class="card-text"><small class="text-muted">Online, 23 Nov, 2021</small></p>
                  </div>
                </div>
              </p>
            </div>
          </br>

              <h4>Recommended Events</h4>
              <p class='text-muted'><!--You can join any event or get any service here you'd like.-->
                <div class="card-deck">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title"><a class="article-title" href="#">Yoga Class</a></h5> 
                      <p class="card-text"><small class="text-muted">Online, 23 Nov, 2021</small></p>
                    </div>
                  </div>
                </div>
                  <br>
                  <div class="card-deck">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title"><a class="article-title" href="#">Yoga Class</a></h5> 
                      <p class="card-text"><small class="text-muted">Online, 23 Nov, 2021</small></p>
                    </div>
                  </div>
              </p>

          </div>
        </div>
      </main>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>