{% extends 'service/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
      <br>
        <div class="media">
        <img class="rounded-circle account-img" src="{{ author.profile.image.url }}">
        <div class="media-body">
        <h6 class="account-heading small">{{ author.username }}</h6>
        <p class="text-secondary">{{ author.profile.location }} &ensp; Contact: {{ author.email }}  </p>


          {% if follow %}
            <form action="{% url 'follow' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="profile_user" value={{author.pk}}>
              <button type="submit" class="btn btn-outline-secondary btn-sm"> Unfollow</button>
            </form>
          {% else %}
          <form action="{% url 'follow' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="profile_user" value={{author.pk}}>
            <button type="submit" class="btn btn-outline-info btn-sm">Follow</button>
          </form>
          {% endif %}
        </div>
        <a class="btn btn-outline-info btn-sm" href="{% url 'message-detail' author.username %}">&ensp;Send Message </a>   
      </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">ShortBio</legend>
                <p class="text-secondary">{{author.profile.shortbio}}</p>
                <legend class="border-bottom mb-4">Interests</legend>
                <p class="text-secondary">{{author.profile.interests}}</p>
                <br>
            </fieldset>
        <div class="form-group">
        </div>
        </form>
    </div>

    <form class="form-inline">     
      </form>
      {% for offer in offers %}
      <article class="media content-section">
        <div class="media-body">
          <h5 class="card-title"><a class="article-title" href="{% url 'offer-detail' offer.id %}">{{ offer.title }}</a></h5> 
          <p class="card-text"><small class="text-muted">{{ offer.location }}, {{ offer.date }}, {{ offer.time }} ({{ offer.duration }} hrs)</small></p>
          <p class="article-content">{{ offer.content }}</p>
        </div>
      </article>
      {% endfor %}    

      {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <h5 class="card-title"><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h5> 
            <p class="card-text"><small class="text-muted">{{ post.location }}, {{ post.date }}, {{ post.time }} ({{ post.duration }} hrs)</small></p>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
      {% endfor %}

      {% for event in events %}
        <article class="media content-section">
          <div class="media-body">
            <h5 class="card-title"><a class="article-title" href="{% url 'event-detail' event.id %}">{{ event.title }}</a></h5> 
            <p class="card-text"><small class="text-muted">{{ event.location }}, {{ event.date }}, {{ event.time }} ({{ event.duration }} hrs)</small></p>
            <p class="article-content">{{ event.content }}</p>
          </div>
        </article>
      {% endfor %}
      
      <!--Home Page Pagination-->
      {% if is_paginated %}
      
        {% if page_obj.has_previous %}
          <a class = "btn btn-outline-info mb-4" href="?page=1">First</a>
          <a class = "btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
      
        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <a class = "btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}  
            <a class = "btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
          {% endif %}
        {% endfor %}
      
        {% if page_obj.has_next %}
          <a class = "btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
          <a class = "btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
      
      {% endif %}      
{% endblock content %}



