
<article class="media content-section">
    <div class="media-body">
        <h2 class="article-title">{{ offer.title }}</h2>
        <p class="article-content"> <small class="text-muted">Location: {{ offer.location }} &emsp; Date: {{ offer.date }} &emsp; Time: {{ offer.time }} ({{ offer.duration }} hrs)</small></p> 
        <p class="article-content"><small class="text-muted">Timecredit: {{ offer.timecredit }} &emsp; Current Participants: {{ offer.num_participants }} / {{ offer.max_participants }}</small></p>
        <p class="article-content">{{ offer.content }} </p>
        {% if offer.author == user %}
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'offer-update' offer.id %}" type="submit">Update Offer</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'offer-delete' offer.id %}" type="submit">Delete Offer</a>
        {% elif user.is_authenticated and user in offer.waiting_participants.all %}
        <p class="article-content" style="color: green"><small> You have already applied for this service and your application is waiting. </small></p>
        {% elif user.is_authenticated and user in offer.current_participants.all %}
        <p class="article-content" style="color: green"><small> You have already enrolled for this service. The author will be paid by timecredits after you and the offerer submit the feedback.</small></p>
            {% if user.username not in offer.feedback_senders %}
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'feedback-create' offer.id offer.author.username %}" type="submit">Submit Feedback</a>
            {% else %}
            You have already submitted a feedback for this service. 
            {% endif %}
        {% elif user.is_authenticated and user in offer.finished_participants.all %}
        <p class="article-content" style="color: green"><small>You already used this service and the service is now completed.</small></p>
        {% elif user.is_authenticated and user.profile.timecredit < offer.timecredit %}
        <p class="article-content" style="color: red"><small>You need at least {{offer.timecredit}} timecredit, but you have {{user.profile.timecredit}} timecredit available.</small> </p>
        {% elif user.is_authenticated and offer.num_participants >= offer.max_participants %}
        <p class="article-content" style="color: red"><small>This offer has already reached its limit and does not accept new applications.</small></p>
        {% elif user.is_authenticated %}
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'offer-apply' offer.id %}" type="submit">Apply</a>
        {% else %}
        <p class="article-content" style="color: red">You need to login to apply for a service.</p>
        {% endif %}
        {% if user == offer.author %}
        <hr />
            <p></p>
            <h5>Waiting Participants</h5>
            {% for participant in offer.waiting_participants.all %}
                <p class="article-content" style="color: darkorange; font-size:small">{{participant.username}}: <a style="color:darkgreen" href="{% url 'offer-action' offer.id 'accept' participant.id %}">Accept</a> / <a style="color: darkred" href="{% url 'offer-action' offer.id 'reject' participant.id %}">Reject</a>
                </p>
            {% empty %}
            <p class="article-content" style="color: darkblue; font-size:small">There is no waiting participant yet.</p>
            {% endfor %}
            <hr />
            <h5>Current Participants</h5>
            {% for participant in offer.current_participants.all %}
                <p class="article-content" style="color: darkorange; font-size:small">{{participant.username}} {% if participant.username not in offer.feedback_receivers %}<a class="" href="{% url 'feedback-create' offer.id participant.username %}" type="submit">(Submit Feedback)</a> {% else %} (Already submitted feedback) {% endif %}</p>
            {% empty %}
            <p class="article-content" style="color: darkblue; font-size:small">There is no current participant yet.</p>
            {% endfor %}
            <hr />
            <h5>Finished Participants</h5>
            {% for participant in offer.finished_participants.all %}
                <p class="article-content" style="color: darkorange; font-size:small">{{participant.username}}</p>
            {% empty %}
            <p class="article-content" style="color: darkblue; font-size:small">There is no finished participant yet.</p>
            {% endfor %}
        
        {% else %}
        <hr />
        <p></p>
            <h5>Waiting Participants</h5>
            {% for participant in offer.waiting_participants.all %}
                <p class="article-content" style="color: darkorange; font-size:small">{{participant.username}}</p>
            {% empty %}
            <p class="article-content" style="color: darkblue; font-size:small">There is no waiting participant yet.</p>
            {% endfor %}
            <hr />
        <h5>Current Participants</h5>
            {% for participant in offer.current_participants.all %}
                <p class="article-content" style="color: darkorange; font-size:small">{{participant.username}}</p>
            {% empty %}
            <p class="article-content" style="color: darkblue; font-size:small">There is no current participant yet.</p>
            {% endfor %}
            <hr />
            <h5>Finished Participants</h5>
            {% for participant in offer.finished_participants.all %}
                <p class="article-content" style="color: darkorange; font-size:small">{{participant.username}}</p>
            {% empty %}
            <p class="article-content" style="color: darkblue; font-size:small">There is no finished participant yet.</p>
            {% endfor %}
        {% endif %}
        <hr />
        {% if user != offer.author %}
        <a href="{% url 'user-posts' offer.author.username %}"><img class="rounded-circle article-img" src="{{ offer.author.profile.image.url }}"></a> 
        <small class="text-muted">Offered by <a href="{% url 'user-posts' offer.author.username %}">{{ offer.author }}</a>  on {{ offer.date_posted | date:"F d, Y"}}</small>
        <p></p>
        <hr />
        <p></p>
        {% endif %}
        <h3>Feedbacks</h3>
        <hr />
        {% for feedback in offer.feedbacks.all %}
        <small> {{feedback.date_posted}}</small> 
            <p class="article-content">  {{feedback.sender}} to {{feedback.receiver}}: {{feedback.rating}}/5
                {{feedback.content}}</p>
            
            {% empty %}
            <p class="article-content" style="color: darkred; font-size:small">There is no feedback for this offer right now.</p>
        {% endfor %}
        <hr />
    </div>
</article>